{% load static %}



<div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div>
<div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
            <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
  Changing border color and width
</div>
        </div>
    </div>
</div>

<div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div><div class="m-2 shadow bg-dark bg-gradient rounded-4 ">
    <div class="card bg-dark bg-gradient rounded " style="width: 12rem;">
        <img src="{% static 'assets/images/moeda.jpg' %}" class="card-img-top" alt="..." style="width: 12rem;">
        <div class="card-body  justify-content-center">
            <h5 class="card-title text-white d-flex justify-content-center">Card title</h5>
            <p class="card-text d-flex justify-content-center" > card's
                content.</p>
            <a href="#" class="btn btn-warning d-flex justify-content-center">Informaçoes</a>
        </div>
    </div>
</div>