{% load static %}

<footer class="bd-footer py-4 py-md-5 mt-5 bh-ligth d-flex flex-wrap" style="fixed: bottom;">

    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
    <!--<script src="{% static 'assets/js/bootstrap.esm.js' %}"></script>-->


    <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="/docs/5.2/">Docs</a></li>
            <li class="mb-2"><a href="/docs/5.2/examples/">Examples</a></li>

        </ul>
    </div>

    <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="/docs/5.2/">Docs</a></li>
            <li class="mb-2"><a href="/docs/5.2/examples/">Examples</a></li>

        </ul>
    </div>

    <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="/docs/5.2/">Docs</a></li>
            <li class="mb-2"><a href="/docs/5.2/examples/">Examples</a></li>

        </ul>
    </div>

</footer>